<div class='container'>
  <div class='col-6 mx-auto'>
    <h1>Editing Tweet</h1>

    <%= render 'form', tweet: @tweet %>

    <%= link_to 'Show', @tweet, class:'btn btn-info' %> 
    <%= link_to 'Back', tweets_path, class:'btn btn-secondary' %>
  </div>
</div>
